<div class="container">
  <div class="p-2 g-col-6">
      <h1>Stupid Coaching</h1>

      <p><%= @user_question%></p>

      <p>- <%= @coach_answer%></p>

      <%= link_to "Ask a new question", ask_path%>
  </div>
</div>
