<div class = "container">
<div class = "text-center">
<h1>Stupid Coaching</h1>
<h4>Ask your coach anything:</h4>
<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>
</div>
